.item {
  border-radius: .2em;
  color: #ffffff;
  font-size: 2em;
  padding: 3em 2em;
  text-transform: uppercase;
}

.item-1 {
  background-color: #55b296;
}

.item-2 {
  background-color: #9fd3c3;
}

.item-3 {
  background-color: #e7b013;
}

.item-4 {
  background-color: #073443;
}